<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace: 对应dao的全限定名(包名+接口名),也就是../*Mapper
-->
<mapper namespace="com.zhu.dao.NoticeMapper">

    <resultMap id="noticeList" type="com.zhu.entity.Notice">
        <result property="id" column="id"/>
        <result property="sendName" column="sendName"/>
        <result property="content" column="content"/>
        <result property="receiveName" column="receiveName"/>
        <result property="time" column="createTime"/>
    </resultMap>
    <insert id="addNotice">
        INSERT INTO `hotel_notice`(`nSendUid`, `content`, `nReceiveUid`, `time`)
        VALUES (#{sendUid}, #{content}, #{receiveUid}, SYSDATE());
    </insert>
    <delete id="deleteNoticeById">
        DELETE FROM hotel_notice WHERE id = #{id}
    </delete>
    <select id="queryPageNotices" resultMap="noticeList">
        SELECT n.id id,u1.loginName sendName,n.content content,u2.loginName receiveName,n.time createTime
        FROM `hotel_notice` n,`hotel_user` u1,`hotel_user` u2
        WHERE 1=1 AND n.nSendUid = u1.id AND n.nReceiveUid = u2.id
        <if test="sendUid != null">
            AND n.nSendUid = #{sendUid}
        </if>
        <if test="content != null and content != '' ">
            AND n.content LIKE CONCAT('%',#{content},'%')
        </if>
        limit #{from},#{pageSize}
    </select>
    <select id="queryTotalCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM `hotel_notice` n,`hotel_user` u1,`hotel_user` u2
        WHERE 1=1 AND n.nSendUid = u1.id AND n.nReceiveUid = u2.id
        <if test="sendUid != null">
            AND n.nSendUid = #{sendUid}
        </if>
        <if test="content != null and content != '' ">
            AND n.content LIKE CONCAT('%',#{content},'%')
        </if>
    </select>

</mapper>
