<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace: 对应dao的全限定名(包名+接口名),也就是../*Mapper
-->
<mapper namespace="com.zhu.dao.OrderMapper">

    <insert id="orderRoom">
        INSERT INTO `hotel_room_order`(`userId`, `rno`, `startTime`, `endTime`, `cost`)
        VALUES (#{userId}, #{rno}, #{startTime}, #{endTime}, #{cost});
    </insert>
    <insert id="orderFood">
        INSERT INTO `hotel_food_order`(`userId`, `fid`, `quantity`, `cost`)
        VALUES (#{userId}, #{fid}, #{quantity}, #{cost});
    </insert>
    <update id="modifyDate">
        UPDATE `hotel_room_order`
        SET `startTime` = #{startTime}, `endTime` = #{endTime}, cost= #{cost}
        WHERE `id` = #{id}
    </update>
    <delete id="deleteRoomOrderByRno">
        DELETE FROM `hotel_room_order` WHERE rno = #{rno}
    </delete>
    <delete id="deleteRoomOrderById">
        DELETE FROM `hotel_room_order` WHERE id = #{id}
    </delete>
    <delete id="deleteFoodOrderById">
        DELETE FROM `hotel_food_order` WHERE id = #{id}
    </delete>
    <select id="queryRoomsByUserId" resultType="com.zhu.entity.RoomOrder">
        SELECT * FROM `hotel_room_order` WHERE userId = #{userId}
    </select>
    <select id="queryRoomOrderById" resultType="com.zhu.entity.RoomOrder">
        SELECT * FROM `hotel_room_order` WHERE id = #{id}
    </select>
    <select id="queryRoomOrderByUserId" resultType="com.zhu.entity.RoomOrder">
        SELECT * FROM `hotel_room_order` WHERE userId = #{userId}
    </select>
    <select id="queryFoodOrderByUserId" resultType="com.zhu.entity.FoodOrder">
        SELECT * FROM `hotel_food_order` WHERE userId = #{userId}
    </select>
    <select id="queryRoomTotalCounts" resultType="java.lang.Integer">
        SELECT count(1) FROM `hotel_room_order`
    </select>
    <select id="queryPageRoomOrders" resultType="com.zhu.entity.RoomOrder">
        SELECT * FROM `hotel_room_order` LIMIT #{from} , #{pageSize}
    </select>
    <select id="queryFoodTotalCounts" resultType="java.lang.Integer">
        SELECT count(1) FROM `hotel_food_order`
    </select>
    <select id="queryPageFoodOrders" resultType="com.zhu.entity.FoodOrder">
        SELECT * FROM `hotel_food_order` WHERE 1 = 1 LIMIT #{from},#{pageSize}
    </select>
</mapper>