<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace: 对应dao的全限定名(包名+接口名),也就是../*Mapper
-->
<mapper namespace="com.zhu.dao.RoomMapper">
    <insert id="addRoom">
        INSERT INTO `hotel_room`(`rname`, `rtype`, `status`, `rstyle`, `picPath`, `rfloor`)
        VALUES (#{rname}, #{rtype}, #{status}, #{rstyle}, '035.jpg', #{rfloor});
    </insert>
    <update id="updateRoom">
        UPDATE `hotel_room`
        SET `rname` = #{rname}, `rtype` = #{rtype}, `status` = #{status}, `rstyle` = #{rstyle}, `picPath` = #{picPath}, `rfloor` = #{rfloor}
        WHERE `rno` = #{rno};
    </update>
    <delete id="deleteRoomById">
        DELETE FROM `hotel_room` WHERE rno = #{rno}
    </delete>
    <select id="queryRoomList" resultType="com.zhu.entity.Room">
        SELECT * FROM `hotel_room`
    </select>
    <select id="queryLikeRoom" resultType="com.zhu.entity.Room">
        SELECT * FROM `hotel_room` WHERE 1 = 1
        <if test="floor != null and floor != '' ">
            AND rfloor = #{floor}
        </if>
        <if test="status != null and status != '' ">
            AND `status` = #{status}
        </if>
        <if test="style != null and style != '' ">
            AND rstyle = #{style}
        </if>
    </select>
    <select id="queryTotalCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM `hotel_room` WHERE 1 = 1
        <if test="rname != null and rname != '' ">
            AND rname LIKE CONCAT('%',#{rname},'%')
        </if>
        <if test="rtype != null">
            AND rtype = #{rtype}
        </if>
        <if test="status != null and status !='' ">
            AND status = #{status}
        </if>
        <if test="rstyle != null and rstyle != '' ">
            AND rstyle = #{rstyle}
        </if>
    </select>
    <select id="queryPageRooms" resultType="com.zhu.entity.Room">
        SELECT * FROM `hotel_room` WHERE 1 = 1
        <if test="rname != null and rname != '' ">
            AND rname LIKE CONCAT('%',#{rname},'%')
        </if>
        <if test="rtype != null">
            AND rtype = #{rtype}
        </if>
        <if test="status != null and status !='' ">
            AND status = #{status}
        </if>
        <if test="rstyle != null and rstyle != '' ">
            AND rstyle = #{rstyle}
        </if>
        LIMIT #{from},#{pageSize}
    </select>
    <select id="verifyRoomName" resultType="com.zhu.entity.Room">
        SELECT * FROM hotel_room WHERE rname = #{rname}
    </select>
    <select id="queryRoomByRno" resultType="com.zhu.entity.Room">
        SELECT * FROM `hotel_room` WHERE rno = #{rno}
    </select>
</mapper>
