<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace: 对应dao的全限定名(包名+接口名),也就是../*Mapper
-->
<mapper namespace="com.zhu.dao.UserMapper">
    <insert id="register">
        INSERT INTO `hotel_user`(`id`, `loginName`, `password`, `sex`, `idCard`, `type`)
        VALUES (null, #{loginName}, #{password}, #{sex}, #{idCard}, #{type});
    </insert>
    <update id="changePassword">
        UPDATE `hotel_user`
        SET `password` = #{newPassword}
        WHERE `id` = #{id};
    </update>
    <update id="updateUser">
        UPDATE `hotel_user`
        SET `loginName` = #{loginName}, `password` = #{password}, `sex` = #{sex}, `idCard` = #{idCard}, `type` = #{type}
        WHERE `id` = #{id};
    </update>
    <update id="modifyInfo">
        UPDATE `hotel_user`
        SET `loginName` = #{loginName}, `sex` = #{sex}, `idCard` = #{idCard}
        WHERE `id` = #{id};
    </update>
    <delete id="deleteUserById">
        DELETE FROM `hotel_user` WHERE id = #{id}
    </delete>
    <select id="login" resultType="com.zhu.entity.User">
        SELECT * FROM `hotel_user` WHERE loginName = #{loginName} AND `password` = #{password}
    </select>
    <select id="findPasswordByLoginName" resultType="java.lang.String">
        SELECT `password` FROM `hotel_user` WHERE  loginName = #{loginName}
    </select>
    <select id="findPasswordByIdCard" resultType="java.lang.String">
        SELECT `password` FROM `hotel_user` WHERE  idCard = #{idCard}
    </select>
    <select id="queryTotalCounts" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM `hotel_user` WHERE 1 = 1
        <if test="loginName != null and loginName != ''">
            AND loginName LIKE CONCAT('%',#{loginName},'%')
        </if>
        <if test="idCard != null and idCard != '' ">
            AND idCard LIKE CONCAT('%',#{idCard},'%')
        </if>
    </select>
    <select id="queryPageUsers" resultType="com.zhu.entity.User">
        SELECT * FROM `hotel_user` WHERE 1 = 1
        <if test="loginName != null and loginName != ''">
            AND loginName LIKE CONCAT('%',#{loginName},'%')
        </if>
        <if test="idCard != null and idCard != '' ">
            AND idCard LIKE CONCAT('%',#{idCard},'%')
        </if>
        LIMIT #{from},#{pageSize}
    </select>
    <select id="querySendUsers" resultType="com.zhu.entity.User">
        SELECT * FROM `hotel_user` WHERE type = 0 || type = 1
    </select>
    <select id="queryAllUsersEscapeId" resultType="com.zhu.entity.User">
        SELECT * FROM `hotel_user` WHERE id != #{id}
    </select>
    <select id="queryAdminList" resultType="com.zhu.entity.User">
        SELECT * FROM `hotel_user` WHERE type = 0
    </select>
    <select id="queryUserById" resultType="com.zhu.entity.User">
        SELECT * FROM `hotel_user` WHERE id = #{id}
    </select>
</mapper>