#timelineUl>li{
    margin-left: 40px;
}
#foodImg{
    margin-left: 120px;
    margin-bottom: 60px;
}
#foodSection span{
    position: absolute;
    left: 260px;
    top: 170px;
}
#foodSection button{
    position: absolute;
    left: 520px;
    top: 100px;
}
/*右上角购物车部分*/
#stickyOrder{
    position: sticky;
    top: 0;
    left: 1100px;
    background-color: #eeeeee;
    width: 300px;
    z-index: 99;
}
#shoppingCart{
    font-size: 40px;
    color: #FF5722;
    position: relative;
    top: 2px;
    left: 10px;
    opacity: 100%;
}
#cartItem{
    position: relative;
    left: 10px;
    font-size: 30px;
    opacity: 100%;
}
#toPayButton{
    color: white;
    background-color: #FF5722;
    font-size: 30px;
    position: relative;
    top: -5px;
    left: 30px;
}
/*前台的我要入住和预约入住*/
#roomTable{
    border-collapse:collapse;
    border:solid 1px Black;
    margin-left: 30px;
}
#roomTable td{
    width:400px;
    height:500px;
    border:solid 1px Black;
    padding-left: 28px;
}
#toPayRoom1,#toPayRoom2,#toPayRoom3{
    position: relative;
    left: 150px;
    top: 20px;
}
#preOrder1,#preOrder2,#preOrder3{
    position: relative;
    left: 150px;
    top: 20px;
}
